body {
    background: black;
}

div {
    text-align: center;
    margin: 80px 20px;
    font-weight: bold;
    font-size: 80px;
    color: rgb(255, 127, 191);
}

.container {
    text-align: center;
}